# Logs
logs
*.log
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de diretório e arquivos compilados
node_modules/
dist/
build/
temp/
dbpath/
dbpath/database.db

# Arquivos de instalação do Yarn
.yarn
.yarn-cache

# Arquivos de ambiente
.vscode/
.env

# Arquivos de cache local
.cache/
dbpath/database.db
